html {
  line-height: 1.15;
  font-family:
    system-ui,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-size: 16px;
}

html {
  height: 100%;
}