* {
  box-sizing: border-box
}

html,
body {
  height: 100vh
}

body {
  margin: 0;
  padding: 5%;
  font-family: monospace;
  background-color: #282a36;
  ;
  line-height: 2;
  color: #fff;
}

summary {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: orange;
}

textarea,
iframe {
  width: 100%;
  border: 4px solid #23bd34;
  padding: 10px;
  min-height: 3rem;
}

textarea {
  outline: 0;
  width: 100%;
  height: 200px;
  font-size: 1rem;
  resize: vertical;
  margin-bottom: 5px;
}

iframe {
  height: 250px;
  background-color: #fff;
  border-color: #673ab7;
}

button {
  font-family: inherit;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 4px;
  outline: 4px solid #673ab7;
}

h1 {
  margin-top: -2.5%;
  border-bottom: 2px solid gray;
  color: #e03300
}