.layout {
  --line-height: 1.5em;
  &.test {
    font: normal 16px/var(--line-height) ui-monospace, monospace;
    border: 2px solid gray;
    padding: 4px;
  }
  &.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: calc(var(--line-height) *3);
    &.tl {
      align-content: flex-start;
      justify-content: flex-start;
    }

    &.tc {
      align-content: center;
      justify-content: flex-start;
    }

    &.tr {
      align-content: flex-end;
      justify-content: flex-start;
    }

    &.cl {
      align-content: flex-start;
      justify-content: center;
    }

    &.cc {
      align-content: center;
      justify-content: center;
    }

    &.cr {
      align-content: flex-end;
      justify-content: center;
    }

    &.bl {
      align-content: flex-start;
      justify-content: flex-end;
    }

    &.bc {
      align-content: center;
      justify-content: flex-end;
    }

    &.br {
      align-content: flex-end;
      justify-content: flex-end;
    }
  }

  &.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;

    &.h {
      flex-direction: row;
    }

    &.v {
      flex-direction: column;
    }

    &.start {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.end {
      justify-content: flex-end;
    }

    &.around {
      justify-content: space-around;
    }

    &.between {
      justify-content: space-between;
    }

    &.evenly {
      justify-content: space-evenly;
    }
  }

  &.section {
    min-width: 0;
    min-height: 0;

    &.test {
      border: 2px solid silver;
      padding: 4px;
      ;
    }

    &.grow {
      --grow: 1;
      flex: var(--grow);
    }
    &.gap {
      --gap: 4px;
    }
    .layout.container.v &.gap {
      margin-block: var(--gap);
    }
    .layout.container.h &.gap {
      margin-inline: var(--gap);
    }
  }
}