
.layout-container-type-1 {
  box-sizing: border-box;
  min-height: calc(1.5rem *3);
  height: 100%;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &.tl {
    align-content: flex-start;
    justify-content: flex-start;
  }
  &.tc {
    align-content: center;
    justify-content: flex-start;
  }
  &.tr {
    align-content: flex-end;
    justify-content: flex-start;
  }
  &.cl {
    align-content: flex-start;
    justify-content: center;
  }
  &.cc {
    justify-content: center;
    align-content: center;
  }
  &.cr {
    align-content: flex-end;
    justify-content: center;
  }
  &.bl {
    align-content: flex-start;
    justify-content: flex-end;
  }
  &.bc {
    justify-content: flex-end;
    align-content: center;
  }
  &.br {
    align-content: flex-end;
    justify-content: flex-end;
  }
}

.layout-content-type-1 {
  box-sizing: border-box;
  padding: 4px;
  border: 2px solid silver;
}