.scrollable {
  --scrollbar_color-bg: silver;
  --scrollbar_color-fg: gray;
  --scrollbar_color-fg_hover: #616161;
  --scrollbar_color-fg_active: #424242;
  overflow: auto;
  scrollbar-color: var(--scrollbar_color-fg) var(--scrollbar_color-bg);
  /* == Moz == */
  scrollbar-width: thin;
  /* == Webkit == */
  &.x {
    overflow-y: hidden;
  }
  &.y {
    overflow-x: hidden;
  }
  &::-webkit-scrollbar {
    width: 8px;
    /* no alternative to thin on firefox */
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbar_color-bg);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--scrollbar_color-fg);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar_color-fg_hover);
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar_color-fg_active);
  }
}
:has(> .scrollable) {
  overflow: hidden;
}